.flex-container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 1em;
}

@media(min-width:540px) {
    .flex-container {
        max-width: 540px;
    }
}

@media(min-width:768px) {
    .flex-container {
        max-width: 768px;
    }
}

@media(min-width:992px) {
    .flex-container {
        max-width: 992px;
    }
}

@media(min-width:1200px) {
    .flex-container {
        max-width: 1200px;
    }
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 1em;
}

/*MENU*/

nav {
    width: 100%;
}
nav li {
    margin-top: 200px;

}
.logo a {
    text-align: left;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 15px;
    list-style-type: none;
    background-color: #fff;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -ms-flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.menu a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: arial,sans-serif;
    font-size: 1rem;
    color: #999;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.menu a:hover {
    text-decoration: none;
    color: #3fa7d5;
}

.menu-item {
    display: none;
    position: relative;
    order: 2;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    text-align: center;
    background: #eee;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
}

.menu-item.active {
    display: block;
}

/*BURGER MENU*/

.toggle {
    order: 1; 
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
}

.line {
    display: block;
    width: 30px;
    height: 3px;
    margin: 8px auto;
    background-color: #eee;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.toggle a:hover {
    cursor: help; background-color: red;
}

.is-active .line:first-child {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    -ms-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.is-active .line:nth-child(2) {
    opacity: 0;
}

.is-active .line:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    -ms-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/*TEL INPUT*/

.tel {
    font-size: 1.3125rem;
    color: #fff;
    background-color: #93c04d !important;
}

.tel:before {
    content: '';
    content: "phone_iphone";
    position: absolute;
    top: 18px;
    left: 17px;
    width: 13px;
    height: 18px;
    font-family: 'Material Icons';
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-font-feature-settings: 'liga' 1;
    -moz-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga' 1;
}

/*SEARCH INPUT*/

#search input {
    outline: none;
}

#search input::-webkit-search-decoration,
#search input::-webkit-search-cancel-button {
    display: none;
}

#search input[type=search] {
/*background: url("../img/search-loop.png") no-repeat;
    background-position: 5px 10px;*/

    position: relative;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    width: 16px;
    height: 16px;
    padding: 10px;
    border: none;
    border-radius: 10em;
    font-family: inherit;
    font-size: 100%;
    color: transparent;
    background-color: transparent;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    cursor: pointer;
}

#search::before {
    content: "search";
    position: absolute;
    top: 15px;
    font-family: 'Material Icons';
    font-size: 20px;
    color: #999;
    -webkit-font-feature-settings: 'liga' 1;
    -moz-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga' 1;
}

#search input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}

#search input::-webkit-input-placeholder {
    color: transparent;
}

#search input:-moz-placeholder {
    color: transparent;
}

#search input::-moz-placeholder {
    color: transparent;
}

#search input:-ms-input-placeholder {
    color: transparent;
}

#search input[type=search]:focus::-webkit-input-placeholder {
    color: #717171;
}

#search input[type=search]:focus:-moz-placeholder {
    color: #717171;
}

#search input[type=search]:focus::-moz-placeholder {
    color: #717171;
}

#search input[type=search]:focus:-ms-input-placeholder {
    color: #717171;
}

/*DESKTOP*/

@media all and (min-width:992px) {
    .menu {
        align-items: center;
        justify-content: space-between;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-box-align: center;
        -ms-flex-align: center;
    }

    .logo {
        order: 0;
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
    }

    .toggle {
        display: none;
    }

    .menu-item {
        display: block;
        order: 1;
        width: auto;
        padding: 9px 15px;
        border-bottom: none;
        background: none;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
    }

    .tel {
        padding: 17px 18px 17px 70px !important;
    }
}
