/*SIMPLE FLEX GRID*/

.flex-container {
    box-sizing: border-box;
    margin: 0 auto;
}

@media(min-width:540px) {
    .flex-container {
        max-width: 540px;
    }
}

@media(min-width:768px) {
    .flex-container {
        max-width: 768px;
    }
}

@media(min-width:992px) {
    .flex-container {
        max-width: 992px;
    }
}

@media(min-width:1200px) {
    .flex-container {
        max-width: 1200px;
    }
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 1em;
}

/*MENU*/

nav {
    width: 100%; max-width: 1200px; margin:0 auto; position: fixed; z-index: 2;
}
nav ul li:after {
   clear: both; content: "";
}

.logo, .logo a {
    text-align: left; padding: 20px 0 10px 20px; width: 280px; color: #aaaaaa; line-height: 1.4em; background-image:url("imgs/meta/seht-logo-gris.jpg"); background-position:4% 15%; background-repeat: no-repeat;
  background-size: 60px 60px; /*color: #b0c934;*/
}

.logo strong, .logo strong a  {
 font-size: 1.4em; color: #1d1e3c; /* color: #388aaa;*/
}


.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #fff;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -ms-flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    text-decoration: none;
	text-align:center;
}

.menu a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    color: #999;
    text-decoration: none;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
	padding:0 70px 0 0;	
}
/*
.menu a:hover {
    text-decoration: none;
    color: #000000; 
}*/

.portfolio a:hover {
font-weight:600;
    text-decoration:underline;
    color: #ea9706; 
}

.methode a:hover {
font-weight:600;
    text-decoration:underline;
    color: #e06491; 
}

.cv a:hover {
font-weight:600;
    text-decoration:underline;
    color: #b0c934; 
}


.menu-item { 
    display: none;
    position: relative;
    order: 2;
    width: 100%;
    padding: 10px 10px;
    border-bottom: 1px solid #fff;
    text-align: center;
    background: #eee;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2; text-decoration: none;
}


.menu-item.active {
    display: block; 
}
.menu-item.active:after {
    clear: both; content: "";
}


/*BURGER MENU*/

.toggle {
    order: 1;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    padding: 0 20px 0 0;
}

.line {
    display: block; text-decoration: none;
    width: 30px;
    height: 3px;
    margin: 8px auto;
    background-color: #eee;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.toggle:hover {
    cursor: pointer;
}

.is-active .line:first-child {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    -ms-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.is-active .line:nth-child(2) {
    opacity: 0;
}

.is-active .line:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    -ms-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


.tel i {
    font-size: 1em; line-height: 2em; padding: 0 3px;
  
}
/*TEL INPUT
.tel:before {
    content: '';
    content: "phone_iphone";
    position: absolute;
    top: 18px;
    left: 17px;
    width: 13px;
    height: 18px;
    font-family: 'Material Icons';
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-font-feature-settings: 'liga' 1;
    -moz-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga' 1;
}*/

/*SEARCH INPUT

#search input {
    outline: none;
}

#search input::-webkit-search-decoration,
#search input::-webkit-search-cancel-button {
    display: none;
}

#search input[type=search] {

    position: relative;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    width: 16px;
    height: 16px;
    padding: 10px;
    border: none;
    border-radius: 10em;
    font-family: inherit;
    font-size: 100%;
    color: transparent;
    background-color: transparent;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    cursor: pointer;
}

#search::before {
    content: "search";
    position: absolute;
    top: 15px;
    font-family: 'Material Icons';
    font-size: 20px;
    color: #999;
    -webkit-font-feature-settings: 'liga' 1;
    -moz-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga' 1;
}

#search input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}

#search input::-webkit-input-placeholder {
    color: transparent;
}

#search input:-moz-placeholder {
    color: transparent;
}

#search input::-moz-placeholder {
    color: transparent;
}

#search input:-ms-input-placeholder {
    color: transparent;
}

#search input[type=search]:focus::-webkit-input-placeholder {
    color: #717171;
}

#search input[type=search]:focus:-moz-placeholder {
    color: #717171;
}

#search input[type=search]:focus::-moz-placeholder {
    color: #717171;
}

#search input[type=search]:focus:-ms-input-placeholder {
    color: #717171;
}
*/
/*DESKTOP*/

@media all and (min-width:768px) {
    .menu {
        align-items: center;
        justify-content: space-between;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-box-align: center;
        -ms-flex-align: center;
    }

    .logo {
        order: 0;
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
    }
	

    .toggle {
        display: none;
    }

    .menu-item {
        display: block;
        order: 1;
        width: auto;
        padding: 9px 0px;
        border-bottom: none;
        background: none;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
    }

    .tel {
        padding: 17px 10px 17px 70px !important; float: right;
    }
	
}
@media (min-width: 481px) and (max-width: 767px) {
.menu a {
	padding:0 0px 0 0;	
}
.menu-item {
    font-size: 1.5em; line-height:2em;
  
}
.tel i {
   font-size: 1.2em;padding: 0 2px;
  
}
.menu-item i:hover { color:#33CCCC; }
}

/*
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
nav {
    position:relative;
}
.logo, .logo a { padding-left:6px;  width: 250px;
}
.menu a {
	padding:0;	
}
.menu-item i {
   font-size: 1.2em; padding: 0 2px;
  
}
}*/

/* iPad mini in portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1)  {
.logo, .logo a { padding-left:26px;  width: 250px;
}
.menu a {
    padding:0 30px 0 0; 
}
} 


/* iPad mini in landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
.logo, .logo a { padding-left:26px;  width: 250px;
}
}

/* iphone */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (orientation : portrait) {
.logo, .logo a { padding-left:6px;  width: 250px;
}
.menu a {
	padding:0;	
}
.menu-item i {
   font-size: 1.2em; padding: 0 2px;
  
}
}


@media (min-width: 320px) and (max-width: 480px) {

.logo, .logo a {
padding-left:6px;   width: 250px; 
}
.menu a {
	padding:0;	
}
.menu-item i {
   font-size: 1.2em; padding: 0 2px;
  
}

}