

/*Réinitilaisation de la liste déroulante*/
select {
appearance: none;
outline: 0;
border: 0 !important;
background: #ffffff;
background-image: none;
box-shadow: none;
font-size: 1em; line-height:2em; vertical-align:bottom;
}
 
option {padding: 0px 0 0px 20px;}

/* Mise en place des dimensions. On cache la flèche d’origine */
.select {
position: relative;
width:60%; 
height: 45px;
overflow: hidden;
border-radius: 5px;
border: 1px solid #CED4DA;line-height:2em; vertical-align:middle;
}
/* On adapte la liste déroulante à la div qui l’englobe*/
select {
width: 105%;
height: 100%;
margin: 0;
padding-left: 15px;
color: #555555;
cursor: pointer;
}
/* Mise en place de la flèche */
.select::after {
content: '\276F';
position: absolute;
top: 20%;
right: 0;
padding: 0 15px;
background: white;
pointer-events: none;
transform: rotate(90deg);
font-size: 1.5em;
background: #ffffff;
}
.select:hover::after {
color: #cccccc;
}