* {
  box-sizing: border-box; margin:0px; padding:0px; 
}

html{
/*padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);*/
  margin:0; padding:0;
font-family: 'Work Sans', sans-serif;
}

body {width: 100%;
  background-color: #f1f1f1; color:#1d1e3c; border: 0; 
	vertical-align: baseline;
	 -ms-text-size-adjust:100%;
        -webkit-text-size-adjust:100%;
		-webkit-font-smoothing:antialiased;
	
}


img {  outline:none; border: 0;
        text-decoration:none;
        -ms-interpolation-mode: bicubic;
		width: 100%; max-width: 100%; display: block;
	
		 }
.imgsmall { max-width: 80%; margin:0 auto;
  
     }

.main {
 max-width: 1200px; padding: 0px; 
  margin: 0px auto;
  background-color: #ffffff; overflow:hidden;
}

.container{  margin:0px;  width: 100%; max-width: 1200px;
 padding: 0px 20px; }

header {  margin:0px; padding:0px; display:inline-block; }


.container{ 
 padding: 0 20px;}


.flex-row-index { display: flex; flex-wrap: wrap; width:100%; justify-content: center;
  align-items: flex-end;  height:auto; }
.flex-row-index .column-1 { flex:29%; padding: 15px 0px 5px 0px; margin:5px 18px 25px 18px; max-width:350px; }



.projet-index {
 padding: 0; margin: 0;  max-width: 350px; border: 0px solid #cccccc; box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.1);text-align:center;
}
 /*
.projet-index:hover {box-shadow: 0 2px 4px rgba(50,50,93,.226),0 1px 3px rgba(0,0,0,.08);
  box-shadow: 0px 0px 25px -10px rgba(0,0,0,0.4);
} */

.projet-index header {
  margin-top: 15px; line-height: 0.5em; 
}
.projet-index h1 { font-size:1.6em; line-height: 0.2em; color:#1d1e3c; }
.projet-index p { font-size:0.8em; color: #aaaaaa; }

.button { display:inline-block; text-align:center; 
margin:8px auto 25px auto; width: 110px;
font-size: 0.65em;
color: #aaaaaa;
background-color: rgba(0,0,0,0);
border-style: solid;
border-width: 1px 1px 1px 1px;
border-color: #aaaaaa;
border-radius: 15px 15px 15px 15px;
padding: 8px 0px;
}

.button:hover, .button:focus {
color: #d6b118;
background-color: rgba(214,177,24,0);
border-color: #d6b118;

}


.row {/* 
  display: flex;
  flex-wrap: wrap;                          added  align-items: flex-start;
  text-align: center;
 justify-content: flex-start;*/
   display: flex;  justify-content: space-evenly; align-content: stretch;
  flex-wrap: wrap;                         /*  added  align-items: flex-start;*/
  text-align: center;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 20px; 

}

/ Create four equal columns that floats next to each other /
.column {
  display: inline-flex; 
}

/ Clear floats after rows /
.row:after {
  content: "";
  display: table;
  clear: both;
}





.menu-etude {font-size:1em; padding:20px 40px 5px 40px; text-align:center; text-decoration:none; line-height:1.4em; }
.menu-etude a {text-decoration:none; color:#1d1e3c; }
.menu-etude a:hover {text-decoration:underline; color:#1d1e3c; }

.elementor-icon {
display: inline-block;
line-height: 1;
-webkit-transition: all .3s;
-o-transition: all .3s;
transition: all .3s;
color: #818a91;
font-size: 4em;
text-align: center;
}

.elementor-icon i, .elementor-icon svg {
width: 1em;
height: 1em;
position: relative;
display: block;

}
h1 {font-size:1.75em; line-height:1.2em;  color: #aaaaaa; font-weight:300; margin: 20px 0px 10px 10px;display:inline-block;}
h2 { font-size:1.5em;  line-height:1.3em; font-weight:600; padding:0 15px;   }
h3 {font-size:1.2em;  line-height:1em;  padding:0 15px; display:inline-block;} /* margin-top: 10px; margin-bottom: 10px;*/

h6 {font-size:1.1em;  line-height:0.75em;  color: #aaaaaa;font-weight:300;  padding:0 15px;}
h5 {font-size:1.2em;  line-height:1.2em; }

p {font-size:1em; line-height:1.4em; padding:10px 40px 10px 40px; word-break: normal;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none; }

p a { color:#1d1e3c; text-decoration: none; }
.gotop a { color: #1d1e3c; font-size: 0.75em; float: right; text-align: center; text-decoration: none; }
.gotop i { color: #1d1e3c; font-size: 1.5em; }
.gotop i:link, .gotop i:active, .gotop i:visited { color: #1d1e3c; }
.gotop i:hover { color:#cccccc;  }

footer .gotop i { font-size: 3.5em; padding:10px 20px; display:inline-block; }


.equipe-font {font-size:1.5em; line-height:1.5em;  color: #aaaaaa; font-weight:500; }
.number-li3 {color:red; font-size:0.75em;}
.number-li2 {color:orange; font-size:0.75em;}
.number-li1 {color:green; font-size:0.75em;}


.elementor-icon , .elementor-icon a{color:#777777; font-size:5em;  line-height:1.5em; margin-top:15px;  }

.container ul, .container ol { text-align: left; padding:20px 40px 0px 40px;overflow: hidden; line-height:1.4em; margin:0px; }

.container ul.ul-p,.container ol.ol-p { clear: both; padding-top:0px; padding-bottom:10px;  }

.container ul, li {list-style: none;  }
.container ul li:before { content: "- ";  }

.container ol {
   list-style: none;
   counter-reset: item;
 }
 .container ol li {
   counter-increment: item;
   
 }
 .container ol li:before {
   content: counter(item)". "; margin-right: 5px; color:green; font-size:0.75em;
   display: inline-block;
 }

.parcours-nombre {
   color:green;font-size:0.75em; display: inline-block;
 }

article {
    text-align:center; padding: 20px 0px 20px 0px; height:auto; border-bottom:1px solid black;
}

article h3, article h2 { 
    margin-top:10px; 
}

.article-etude-cas-top, .article-projet-top { 
   background-color: #00985f; color: #ffffff; text-align: center; padding-bottom: 5px;  border:0;
}
.article-etude-cas-top .content, .article-projet-top .content { 
   background-color: #ffffff; color: #1d1e3c; border:0px;  padding: 0px 30px;
}
.article-etude-cas-top button { 
   color: #ffffff; text-align: center; margin:0px; padding-top: 25px; padding-bottom:25px; background-color: #00985f;  border-top:1px solid white;
}
.article-etude-cas-top header i, .article-projet-top header i { 
     font-size: 3em;  margin-bottom:20px; padding-top:20px; 
}



.article-etude-cas-top h2, .article-projet-top h2 { 
    margin:0px 20px 20px 20px;  
}
.article-etude-cas-top p, .article-projet-top p { 
    margin:0px 0px 30px 0px;  font-size: 1.1em; text-align: left;
}
.article-etude-cas-top p i, .article-projet-top p i { 
   font-size: 0.8em;  margin:0; padding:0;
}
.article-etude-cas-top .content p, .article-projet-top .content p { 
    font-size: 1em; text-align: left; 
}



.article-app { background-color:#1fc4be;  border-bottom:0px solid black; display:inline-block;  align-items: center; text-align:center;
  justify-content: center; vertical-align:middle;  width:100%;
}

.article-app i { 
     font-size: 1.5em;  margin-bottom:10px; text-align:center; 
}

.article-app  p { 
    margin-top:10px;  font-size: 1em; text-align: left;
}
.article-app-img {float:left; width:15%; display:inline-block; background-color:#CCCCCC; }
.article-app-text{ height:auto; text-align:center;-webkit-hyphens: auto;
  -moz-hyphens: auto; overflow:hidden;
  -ms-hyphens: auto;
  hyphens: auto;
}





.article-etude-cas-center { text-align: center; padding: 40px 0px 15px 0px; }

.article-etude-cas-center header  { 
}

.article-etude-cas-center header i { 
     font-size: 2em;  margin-bottom:15px; 
}

.article-etude-cas-center header h2, .article-etude-cas-center header h3 { 
  margin-bottom: 15px; text-align: center; justify-content: center; vertical-align:middle;
}

.article-etude-cas-center p { 
    text-align: left;
}


.article-etude-cas header h2, .article-etude-cas-top header h2 { 
 text-align: center; display:  inline-block; justify-content: center; vertical-align:middle;
}

.article-etude-cas header { 
     margin-bottom:20px; 
}
.article-etude-cas header i { 
     font-size: 1em; 
}

.article-etude-cas p { 
    margin-top:0px; text-align: left;  padding-top: 0px;
}
.article-etude-cas p i { 
   color: #888888; font-size:0.8em;  padding:0;
}
.article-etude-cas h3 { 
     text-align: left; margin-top: 20px;
}
.article-etude-cas header h3 { 
     text-align: left; 
}

.flex-row-proto {font-size:0.85em; display: flex; flex-wrap: wrap; width:100%;  background-color:#f0f0f0;
  align-items: center; justify-content: center;  height:auto; margin:0; padding:0; /* box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.3); */ }
.flex-row-proto img {overflow:hidden; margin:0 auto; outline:none;
        text-decoration:none;
        -ms-interpolation-mode: bicubic;
		width: 100%; max-width: 100%; display: block;}
.flex-row-proto .column-1 { flex: 1 1 50%; margin:0px; padding:0px; }
.flex-row-proto .column-2 { flex: 1 1 50%;  margin:5px 0px; text-align:center;  }


.proto-couleur { display:inline-block; margin:10px 0px; font-size:0.85em; min-width:80px; }

.flex-row-proto .proto-couleur i {  color: #aaaaaa; font-size:3em; }

.article-proto { background-color:#f7f7f7;  border-bottom:0px solid black;  align-items: center; text-align:center;
  justify-content: center; vertical-align:middle; line-height:normal;
}

.article-proto i { 
     font-size: 1.5em;  margin-bottom:10px; 
}

.article-proto header { 
    margin-bottom:20px;  font-size: 1em;
}

.article-proto button  { 
    margin-top:20px; padding-bottom:5px;text-align:center;
}

article button { margin:0px; padding:0px 0 10px 0; 
}
.article-sce h3{ 
    margin-top:30px; padding-bottom:10px;  
}
.article-persona, .article-sce, .article-sce p { 
    text-align: left;
}

.flex-row-parcours i { line-height:1.5em;  color: #aaaaaa; font-weight:300; }

.flex-row-parcours {font-size:0.85em; display: flex; flex-wrap: wrap; width:100%; justify-content: center;
  align-items: flex-end;  height:auto;  /* box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.3); */ }
  .flex-row-parcours img {box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.3); background-color: rgba(0,0,0,0);}
.flex-row-parcours .column-1 { flex: 1 1 100%; padding: 15px 10px 5px 10px; margin:5px 0px; border-right:0px solid black; max-width:215px; }




.equipe-font {font-size:1.5em; line-height:1.5em;  color: #aaaaaa; font-weight:500; }
.flex-row-equipe i {font-size:1em; line-height:1.5em;   font-weight:300; }
.flex-row-equipe img { max-width:100px; margin:0 auto 10px auto; border-radius: 50%; }
.flex-row-equipe img:hover {  box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.5); }
.flex-row-equipe { display: flex; flex-wrap: wrap;  width:100%; justify-content: center; padding: 0; margin: 10px 0 0 0;
   height:auto;  /* align-items: flex-end;  box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.3); */ }
.flex-row-equipe .column-1 { flex: 1 1 auto;  margin:10px 0px;   border-right:1px solid black; min-width:150px; }
.flex-row-equipe .column-2 { flex: 1 1 auto; border-right:1px solid black;  margin:10px 0px;  min-width:150px;  }
.flex-row-equipe .column-3 { flex: 1 1 auto; border-right:1px solid black;   margin:10px 0px; min-width:150px; }
.flex-row-equipe .column-4 { flex: 1 1 auto; border-right:1px solid black;  margin:10px 0px; min-width:150px; }
.flex-row-equipe .column-5 { flex: 1 1 auto; margin:10px 0px; min-width:150px;  }

.flex-row-equipe2 img { max-width:100px; margin:0 auto 10px auto; border-radius: 50%; }
.flex-row-equipe2 img:hover {  box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.5); }
.flex-row-equipe2 { display: flex; flex-wrap: wrap;  width:100%; justify-content: center; padding: 0; margin: 0 0 10px 0;
   height:auto;  /* align-items: flex-end;  box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.3); */ }
.flex-row-equipe2 .column-1 { flex: 1 1 auto;  margin:10px 0px;   border-right:1px solid white; min-width:150px; }
.flex-row-equipe2 .column-2 { flex: 1 1 auto; border-right:1px solid white;  margin:10px 0px;  min-width:150px;  }
.flex-row-equipe2 .column-5 { flex: 1 1 auto; margin:10px 0px; min-width:150px;  }

.flex-row-actions{ display: flex; flex-wrap: wrap;  width:100%; justify-content: center; padding:0 20px;  margin: 10px 0 0 0;
   height:auto; text-align: left; }
   .flex-row-actions ol { padding: 0; margin: 0; }
.flex-row-actions .column-1 { flex: 1 1 50%;  margin:8px 0px 20px 0px; padding: 5px 20px;  border-right:1px solid black; min-width:150px; }
.flex-row-actions .column-2 { flex: 1 1 50%; border-right:0px solid black;   margin:10px 0px 10px 0px; padding: 5px 20px;  min-width:150px;  }
.flex-row-actions .column-3 { flex: 1 1 50%; border-right:1px solid black;   margin:10px 0px; padding: 10px 20px; min-width:150px; }
.flex-row-actions .column-4 { flex: 1 1 50%; border-right:0px solid black;  margin:10px 0px; padding: 10px 20px;  min-width:150px; }
.flex-row-actions .column-5 { flex: 1 1 100%; margin:10px 0px; min-width:150px; padding: 10px 20px;  }


.flex-row-interview { display: flex; flex-wrap: wrap;  width:100%; justify-content: center; padding: 0; margin:0;
   height:auto;  /* align-items: flex-end;  box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.3); */ }
.flex-row-interview .column-1 { flex: 1 1 20%;  margin:10px 0px;   border-right:0px solid black; }


/* decorative styles */
.flex-row-equipe > div { 
    text-align: center;
}


.flex-row-deux {font-size:0.85em; display: flex; flex-wrap: wrap; width:70%; text-align: center;color: #1d1e3c;
    height:auto; margin:0 auto;  /* box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.3); */ }
    .flex-row-deux a { color: #1d1e3c; text-decoration:none; }
    .flex-row-deux a:hover  { color: #cccccc; }
    .flex-row-deux i {font-size:4em; line-height:1.5em; font-weight:300; justify-content: center;
  align-items: center;}

  .flex-row-deux img {box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.3); background-color: rgba(0,0,0,0);}
.flex-row-deux .column-1 { flex: 1 1 50%; padding: 15px 10px 25px 10px; margin:5px 0px; border-right:0px solid black; justify-content: center;  }
.flex-row-deux .column-2 { flex: 1 1 50%; padding: 15px 10px 25px 10px; margin:5px 0px; border-right:0px solid black;  }





.flex-row-deux-pro { display: flex; flex-wrap: wrap; height:auto; margin:0 auto; text-align:left; width:100%; padding:0 5px;  }
.flex-row-deux-pro ul { text-align:left;  }
.flex-row-deux-pro .column-1 { flex: 1 1 30%; padding: 5px 20px 25px 20px; margin:5px 0px; border-right:0px solid black;  }
.flex-row-deux-pro .column-2 { flex: 1 1 70%; padding: 15px 20px 25px 10px; margin:5px 0px; border-right:0px solid black;  } 

.flex-row-deux-pro-50 { display: flex; flex-wrap: wrap; height:auto; margin:0 auto; text-align:left; width:90%; padding:0 5px;  }
.flex-row-deux-pro-50 .column-1 { flex: 1 1 50%; padding: 5px 0px 25px 25px; margin:5px 0px; border-right:0px solid black; }
.flex-row-deux-pro-50 .column-2 { flex: 1 1 50%; padding: 5px 0px 25px 0px; margin:5px 0px; border-right:0px solid black; }

.flex-row-deux-top { display: flex; flex-wrap: wrap; height:auto; margin:0 auto; text-align:center;  }
.flex-row-deux-top .column-1 { flex: 1 1 18%; padding: 5px 0px 15px 30px; margin:5px 0px; border-right:0px solid black;  }
.flex-row-deux-top .column-2 { flex: 1 1 82%; padding-right:140px; } 


.flex-row-trois { display: flex; flex-wrap: wrap; height:auto; margin:0 auto; text-align:left; width:100%; padding:0px;   }
.flex-row-trois .column-1 { flex: 1 1 30%; padding: 15px 0px 25px 0px; margin:5px 0px; border-right:0px solid black; justify-content: center;  }
.flex-row-trois .column-2 { flex: 1 1 40%; padding: 15px 25px 25px 0px; margin:5px 0px; border-right:0px solid black;  }




.flex-row-quatre {font-size:0.85em; display: flex; flex-wrap: wrap; width:100%; justify-content: center; padding:0px 25px 0px 25px; 
  align-items: flex-end;  height:auto; text-align:center;  /* box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.3); */ }
  .flex-row-quatre img {box-shadow: 0px 0px 5px -5px rgba(0,0,0,0.2); background-color: rgba(0,0,0,0);}
.flex-row-quatre .column-1 { flex: 1 1 17%; padding: 15px 10px 25px 10px; margin:5px 0px; border-right:0px solid black; }
.flex-row-quatre .column-2 { flex: 1 1 6%; padding: 15px 10px 25px 10px; margin:5px 0px; border-right:0px solid black;  }
.flex-row-quatre .column-3 { flex: 1 1 100%; padding: 15px 10px 15px 10px; margin:5px 0px; border-right:0px solid black; max-width:150px; }





.collapsible { 
  cursor: pointer;
  padding: 0 28px 0 0; 
  width: 100%;
  border: none;
  outline: none; text-align: left; vertical-align:bottom;
 font-family: 'Work Sans', sans-serif; color:#1d1e3c;  font-size:1em;  line-height:1.2em;  display:inline-block; background-color: rgba(0,0,0,0); 
}

.active, .collapsible:hover {
  /*color:#000000;*/
  text-decoration: underline;
}

.collapsible:after {
  content: '\002B';
  color: grey;
  font-weight: bold;
  float: right;
  margin-left: 5px; font-size:2em;
}

.active:after {
  content: "\2212";
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; padding:0; margin:0;
  
}
/*@media only screen and (min-width: 375px) and (max-width: 767px) {
  
.article-etude-cas-top, .article-projet-top { 
   background-color:green; color: #ffffff; text-align: center;
} 
}*/


/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
.article-etude-cas-top, .article-projet-top { 
  color: #ffffff; text-align: center;
}

.flex-row-parcours { display: flex; flex-wrap: wrap;  width:100%; justify-content: center; padding: 0; margin:0;
   height:auto; }
.flex-row-parcours .column-1 { flex: 1 1 40%;  padding: 15px 10px 5px 10px; margin:5px 0px; border-right:0px solid black; max-width:300px;  }


}




/* iphone */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (orientation : portrait) {
	/* .article-etude-cas-top, .article-projet-top { 
   background-color:orange; color: #ffffff; text-align: center;
} 
*/

*, html {clear:both;}

article {
  margin:0px; padding:0px; height:auto; border-bottom:1px solid black;
}

.article-etude-cas-top, .article-projet-top { 
  /*background-color:blue;*/ color: #ffffff; text-align: center;
}

.article-etude-cas-top h2 { 
    margin:0px 0px 20px 0px; line-height:1.5em; 
}

.article-etude-cas-top h3{ 
    line-height:1.5em; 
}

.article-etude-cas header { 
margin-top:20px;
}

.article-etude-cas-top p, .article-projet-top p { 
    margin:0px 0px 30px 0px; 
}




.article-etude-cas-top .content p { 
    margin:0px;  padding:0px; background-color:#FFFF00;
}




.article-etude-cas-center p { 
     padding:0 30px;
}

.article-etude-cas p { 
     padding-bottom:15px;
}

.flex-row-deux .column-1 { flex: 1 1 100%;   }
.flex-row-deux .column-2 { flex: 1 1 100%;   }

.flex-row-quatre .column-1 { flex: 1 1 50%; }
.flex-row-quatre .column-2 { flex: 1 1 50%;   }
.flex-row-quatre .column-3 { flex: 1 1 50%; max-width:767px; }

.flex-row-proto .column-1 { flex: 1 1 100%;   }
.flex-row-proto .column-2 { margin-top:20px; flex: 1 1 100%;   }

.article-app { 
    padding-bottom:20px;
}
.article-app h2 { 
    padding-top:20px; line-height:1.5em; 
}
.article-proto h2 { 
    padding-top:20px; line-height:1.5em; 
}
.article-persona { 
    padding:15px 0 15px 0; 
}

article p { padding-bottom:20px; }

.article-proto button { padding-bottom:20px; }

footer .gotop i { font-size: 2.5em; padding:10px 20px; display:inline-block;  }

h3 { display:block;  padding:0px 0 10px 0; }

.flex-row-deux-pro { display: flex; flex-wrap: wrap; height:auto; margin:0 auto; text-align:left;  }
.flex-row-deux-pro .column-1 { flex: 1 1 100%; padding: 5px 0px 0px 0px; margin:5px auto; border-right:0px solid black; max-width:500px;justify-content: center; }
.flex-row-deux-pro .column-2 { flex: 1 1 100%; padding: 5px 0px 5px 0px; margin:5px 0px; border-right:0px solid black;  } 

.flex-row-deux-top { display: flex; flex-wrap: wrap; height:auto; margin:0 auto; text-align:center;  }
.flex-row-deux-top .column-1 { flex: 1 1 100%; padding: 0px 0px 0px 0px; margin:0px auto; border-right:0px solid black; max-width:500px;justify-content: center; }
.flex-row-deux-top .column-2 { flex: 1 1 100%; padding:0px; }

.flex-row-interview { display: flex; align-items:flex-start; }
.flex-row-interview .column-1 { flex: 1 1 50%;  margin:10px 0px;  border-right:0px solid black; }

.flex-row-parcours { display: flex; flex-wrap: wrap;  width:100%; justify-content: center; padding: 0; margin:0;
   height:auto; }
.flex-row-parcours .column-1 { flex: 1 1 40%;  padding: 15px 10px 5px 10px; margin:5px 0px; border-right:0px solid black; max-width:300px;  }


.flex-row-deux-pro-50 .column-1 { flex: 1 1 100%; padding: 5px 0px 0px 0px; margin:5px 0px; border-right:0px solid black; }
.flex-row-deux-pro-50 .column-2 { flex: 1 1 100%; padding: 0px 0px 25px 0px; margin:5px 0px; border-right:0px solid black; }
}
	 
	 

@media (min-width: 481px) and (max-width: 767px) {

article {
  margin:0px; padding:0px; height:auto; border-bottom:1px solid black;
}

.article-etude-cas-top, .article-projet-top { 
  /*background-color:blue;*/ color: #ffffff; text-align: center;
}

.article-etude-cas-top h2 { 
    margin:0px 0px 20px 0px; line-height:1.5em; 
}

.article-etude-cas-top h3{ 
    line-height:1.5em; 
}

.article-etude-cas header { 
margin-top:20px;
}

.article-etude-cas-top p, .article-projet-top p { 
    margin:0px 0px 30px 0px; 
}
.article-etude-cas-center p { 
     padding:0 30px;
}

.article-etude-cas p { 
     padding-bottom:15px;
}

.flex-row-deux .column-1 { flex: 1 1 100%;   }
.flex-row-deux .column-2 { flex: 1 1 100%;   }

.flex-row-quatre .column-1 { flex: 1 1 50%; }
.flex-row-quatre .column-2 { flex: 1 1 50%;   }
.flex-row-quatre .column-3 { flex: 1 1 50%; max-width:767px; }

.flex-row-proto .column-1 { flex: 1 1 100%;   }
.flex-row-proto .column-2 { margin-top:20px; flex: 1 1 100%;   }

.article-app { 
    padding-bottom:20px;
}
.article-app h2 { 
    padding-top:20px; line-height:1.5em; 
}
.article-proto h2 { 
    padding-top:20px; line-height:1.5em; 
}
.article-persona { 
    padding:15px 0 15px 0; 
}

article p { padding-bottom:20px; }

.article-proto button { padding-bottom:20px; }

footer .gotop i { font-size: 2.5em; padding:10px 20px; display:inline-block; color: #1d1e3c;}


h3 { display:block;  padding:0px 0 10px 0; }


.flex-row-deux-pro { display: flex; flex-wrap: wrap; height:auto; margin:0 auto; text-align:left;  }
.flex-row-deux-pro .column-1 { flex: 1 1 100%; padding: 5px 0px 0px 20px; margin:5px auto; border-right:0px solid black; max-width:500px;justify-content: center; }
.flex-row-deux-pro .column-2 { flex: 1 1 100%; padding: 5px 0px 5px 0px; margin:5px 0px; border-right:0px solid black;  } 

.flex-row-deux-top { display: flex; flex-wrap: wrap; height:auto; margin:0 auto; text-align:center;  }
.flex-row-deux-top .column-1 { flex: 1 1 100%; padding: 5px 0px 0px 0px; margin:20px auto; border-right:0px solid black; max-width:500px;justify-content: center; }
.flex-row-deux-top .column-2 { flex: 1 1 100%; padding:0px; }

.flex-row-interview { display: flex; align-items:flex-start; }
.flex-row-interview .column-1 { flex: 1 1 50%;  margin:10px 0px;  border-right:0px solid black; }

.flex-row-deux-pro-50 .column-1 { flex: 1 1 100%; padding: 5px 0px 0px 0px; margin:5px 0px; border-right:0px solid black; }
.flex-row-deux-pro-50 .column-2 { flex: 1 1 100%; padding: 0px 0px 25px 0px; margin:5px 0px; border-right:0px solid black; }
}
@media (min-width: 320px) and (max-width: 480px) {

.flex-row-index { width:100%; padding: 0px; margin:0;  }
.flex-row-index h1 { font-size:1em; line-height:0.1em; margin:15px 0 0 0; }
.flex-row-index .column-1 { flex:100%; padding: 15px 0px 5px 0px; margin:5px 18px; max-width: 600px; height:120px;}

.projet-index img { display:inline-block; float:left; max-width: 310px; width:58%;   height:120px; background-color:#999999;   }

.projet-index {/*display:inline-block;  vertical-align:baseline;*/
 padding: 0; margin: 0;  width:100%;  max-width: 600px; 
}


.button { 
margin:4px auto 15px auto; width: 104px;
font-size: 0.65em;
color: #999999;
background-color: rgba(0,0,0,0);
border-style: solid;
border-width: 1px 1px 1px 1px;
border-color: #aaaaaa;
border-radius: 15px 15px 15px 15px;
padding: 6px 0px;
}


article {
     margin:0px; padding:0px; height:auto; border-bottom:1px solid black;
}

.article-etude-cas-top, .article-projet-top { 
  /* background-color:red;*/ color: #ffffff; text-align: center;
}

 .article-etude-cas-top h2, .article-projet-top h2 { 
    margin:0px 0px 10px 0px; line-height:1.4em; 
}
 .article-etude-cas-center h3 { 
    margin:0px 0px 10px 0px; line-height:1.4em; 
}
.article-app { 
     padding:30px 0 30px 0; 
}
.article-proto button { padding-bottom:20px; }

.flex-row-proto .column-1 { flex: 1 1 100%;   }
.flex-row-proto .column-2 { flex: 1 1 100%;   }

.article-etude-cas-top p, .article-projet-top p { 
    margin:0px 0px 30px 0px;  padding:0 30px 0 30px;
}
.article-etude-cas-center p { 
    margin:0px 0px 15px 0px; padding:10px 10px 0 10px; 
}
.article-app p { 
   padding:20px 30px 0 30px; 
}
.article-etude-cas { 
     padding:30px 0px 15px 0px; margin:0;
}
.article-etude-cas p { 
     padding-bottom:15px; margin:0;
}
.article-etude-cas i { 
  line-height:0.25em;
}
footer .gotop i { font-size: 2.5em; padding:10px 20px; display:inline-block;  }

}