* {
  box-sizing: border-box;margin:0; padding:0;
}
html{

  margin:0; padding:0;
}

body {
  background-color: #f1f1f1;
  font-family: Arial;
}

.main {
  padding-top: 120px;
  max-width: 1000px;
  margin: 0 auto;
}

.top{
  margin: 0;
  background-color:#989898;
  width: 100%;
  padding: 15px;
  position:fixed;
}

.container{
  background-color:#676767;
  display: inline-block;
  width: 80%;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}
article {
  margin: 20px 0px;
  align-items: flex-start;
  display: inline-flex;
}

.pub article {
 margin: 20px 0px;
  align-items: none;
  display: block;
}

.row {
  margin: 8px 16px;
}

/ Add padding BETWEEN each column /
.row,
.row > .column {
  padding: 8px;
}

/ Create four equal columns that floats next to each other /
.column {
  float: left;
  width: 25%;
}

/ Clear floats after rows /
.row:after {
  content: "";
  display: table;
  clear: both;
}

/ Content /
.content {

}

aside {
  width: 20%;
  float: right;
  display: inline-block;
  background-color: red;
  padding: 10px;
}

footer {
  background-color:#565656;
  text-align:center;
  font: 24px;
  color:#ffffff;
  padding: 40px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
